.Rproj.user
.Rhistory
.RData
.Ruserdata

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

/slides/01_overview/0_overview-cache/*.*
/slides/01_overview/0_overview-figure/*.*