slides > slide {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #000000;
  letter-spacing: 0;
}

h2{
  color: #3333B2;
  font-size: 40px;
  font-variant: small-caps;
  letter-spacing: 0;
}

slides > slide.title-slide hgroup h1 {
  color: #3333B2;
  font-size: 56px;
  font-variant: small-caps;
  letter-spacing: 0;
}

